<table class="display datatable ajax table table-striped table-bordered" 
		id="{{ datatable.id }}" 
		data-source-url="{{ datatable.source_url }}" 
		data-create-url="{{ datatable.create_url }}">
	<thead>
		<tr>
			{{ datatable.writer.thead }}
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		{% if datatable.writer.has_filters %}
		<tr class="filters">
			{{ datatable.writer.filters }}
		</tr>
		{% endif %}
	</tfoot>
</table>